/*for phone*/
@media (max-width: 846px) {

    .home {
        left: var(--sidebar-width);
        width: calc(100% - var(--sidebar-width));
        height: 82vh;
    }

    .sidebar {
        z-index: 100;
    }

    /*.game-screen {
        background: purple;
    }
    */
}
