/*for phone*/
@media (max-width: 846px) {
    .dpad {
        top: 79.25%;
    }

    .home {
        left: var(--sidebar-width);
        width: calc(100% - var(--sidebar-width));
        height: 85vh;
    }

    .sidebar {
        z-index: 100;
    }

    .game-screen {
        background: purple;
    }
    
}
