/*Google Font Import - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  Colors*/
    /*--body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDD;
    --text-color: #707070;*/

    --body-color: #e6e0ff;
    --background-color: #C0B1F4;
    --sidebar-color: #727CDB;
    --primary-color: #695cfe;
    --primary-color-light: #8f96db;
    --toggle-color: #c7c5c5;
    --text-color: #261F4B;
    --searchbar-color: #414461;
    --searchtext-color: #757575;
    /*  --secondary-color: #8A2BE2;
    --background-color: #F5F5F5;
    --text-color: #333333;
    --font-family: "Poppins", sans-serif;*/
    /*Transition*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

/*====Rounded Search==========*/
/*.search-input {
    display: flex;*/
    /* This property rounds the corners */
    /*border-radius: 20px;*/
    /* Additional styling for a clean look */
    /*padding: 1px 15px;
    border: 1px solid #ccc;
    outline: none;
    width: 150px;
    font-size: 16px;

}*/

/* Adds a subtle blue outline when the user clicks inside */
/*.search-input:focus {
    border-color: #007BFF;
}*/


body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #181827;
    --background-color:#181827;
    --sidebar-color: #252442;
    --primary-color: #8B7CFF;
    --primary-color-light: #6F68B8;
    --toggle-color: #9CA3AF;
    --text-color: #F1F0FF;
    --searchbar-color: #2E2D46;
    --searchtext-color:#A1A1AA;
}

/* ======== nav sidebar =============*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 108px;
}

/* ======== Resuable CSS =============*/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 60px;
    margin-top: 30px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    font-size: 40px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    position: relative;
    left: 9.5px;
    width: 65px;
    border-radius: 6px;
}

/*.sidebar header{
    position: relative;
    flex-direction: column;
}*/

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar header .image-text .logo-text{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo-text .name{
    font-weight: 600;
}

.logo-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%) rotate(180deg);
    height: 35px;
    width: 35px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 32px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle {
    transform: translateY(-50%) rotate(0deg);
    transition: var(--tran-03);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 10px;
}
.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

input[type="search"] {
    background-color: var(--primary-color-light); /* #2E2D46 */
    color: var(--text-color);                  /* #F1F0FF */
    transition: var(--tran-05);
}

input[type="search"]::placeholder {
    /*color: #9CA3AF;*/
    color: var(--searchtext-color);
    transition: var(--tran-05);

}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--primary-color-light);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar{
    height: calc(100% - 90px);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.mode-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
   position: absolute;
   right: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   min-width: 60px;
   cursor: pointer;
   border-radius: 6px;
   background: var(--primary-color-light);
   transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 26px;
    width: 48px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 25px;
}

.home{
    position: relative;
    height: 100vh;
    left: 270px;
    width: calc(100% - 270px);
    background: var(--body-color);
    transition: var(--tran-05);

}

/*grid background*/
.home {
    background-color: #C0B1F4;
    background-image: linear-gradient(rgba(105, 92, 254, 0.12) 1px, transparent 1px), linear-gradient(90deg, rgba(105, 92, 254, 0.12) 1px, transparent 1px);
    background-size: 40px 40px;
}

body.dark .home {
    background-color: #181827;
    background-image: linear-gradient(rgba(139, 124, 255, 0.12) 1px, transparent 1px), linear-gradient(90deg, rgba(139, 124, 255, 0.12) 1px, transparent 1px);
    background-size: 40px 40px;
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.sidebar.close ~ .home{
    left: 108px;
    width: calc(100% - 108px);
}



